body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/90278.jpg);
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1050px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar {
  font-family: vt323;
  letter-spacing: 2px;
  background-color: rgb(217 217 217);
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: fixed;
  left: 220px;
  gap: 20px;
  font-size: 18px;
  border: 3px outset;
}

.navbar a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: justify;
  margin-left: 15px;
}

.icon-nav {
  margin-right: 5px;
  border: 3px outset;
}

.navbar a:hover {
  text-decoration: underline;
}

.about {
  font-family: vt323;
  width: 824px;
  margin-left: 20px;
  background-color: rgb(217 217 217);
  border: 10px groove;
}

h1 {
  text-align: center;
}

.parent-text {
  letter-spacing: 5px;
  font-size: 35px;
}

.description {
  margin: 50px;
}

.description p {
  font-size: 25px;
}

.description li {
  font-size: 25px;
}